/* ======== GLOBAL ======== */
html {
  font-size: 16px;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  background-color: #001219;
  color: #f9f9f9;
  margin: 0;
  padding: 0;
  padding-top: 85px; /* ajuste da navbar */
}

main {
  flex: 1;
  padding: 30px 0;
  display: block;
}

footer {
  margin-top: auto;
}
