footer {
  background-color: #001219; /* mantém o padrão do site */
  color: #f9f9f9;
  font-size: 0.9rem;
  width: 100%;
  flex-shrink: 0;
  padding: 20px 0;
  box-sizing: border-box;
}

.footer-content {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
  box-sizing: border-box;
}


footer a {
  transition: color 0.3s ease;
}

footer a:hover {
  color: #e50914; /* vermelho destaque */
}
